SMTP_HOST=smtp.ionos.com
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=support@woocommerceweb.com
SMTP_PASS=

SMTP_FROM_NAME=WooCommerce Web
SMTP_FROM_EMAIL=support@woocommerceweb.com
SMTP_ADMIN_EMAIL=support@woocommerceweb.com
